# Base
APP_BASE_URL=http://localhost:5173
NODE_ENV=development

# Cron (Vercel injeta Authorization automaticamente)
CRON_SECRET=UNSPECIFIED_CHANGE_ME_16CHARS_MIN

# Baserow
BASEROW_API_URL=https://api.baserow.io
BASEROW_API_TOKEN=UNSPECIFIED

BASEROW_TABLE_TENANTS=UNSPECIFIED
BASEROW_TABLE_USERS=UNSPECIFIED
BASEROW_TABLE_TENANT_USERS=UNSPECIFIED

BASEROW_TABLE_RECIPES=UNSPECIFIED
BASEROW_TABLE_CATEGORIES=UNSPECIFIED
BASEROW_TABLE_SETTINGS=UNSPECIFIED

BASEROW_TABLE_PAYMENT_ORDERS=UNSPECIFIED
BASEROW_TABLE_PAYMENT_EVENTS=UNSPECIFIED
BASEROW_TABLE_RECIPE_PURCHASES=UNSPECIFIED

BASEROW_TABLE_AUDIT_LOGS=UNSPECIFIED

# Auth
BASEROW_TABLE_SESSIONS=UNSPECIFIED
BASEROW_TABLE_MAGIC_LINKS=UNSPECIFIED
APP_COOKIE_SECRET=UNSPECIFIED_CHANGE_ME_32CHARS_MIN

# Email
RESEND_API_KEY=UNSPECIFIED
EMAIL_FROM=contato@receitasbell.com.br

# Mercado Pago
MP_ACCESS_TOKEN=UNSPECIFIED
MP_WEBHOOK_SECRET=UNSPECIFIED
